// how long between updates in minutes
long SLEEP_DURATION = 30;
// wakeup time (hours: ex. 5 = 5:00am)
int  WAKEUP_TIME    = 5;
// long sleep, don't update over night (hours: ex. 21 = 21:00 or 9:00pm)
int  SLEEP_TIME     = 9;

// screen resolution
int DISPLAY_HEIGHT  = 540;
int DISPLAY_WIDTH   = 960;

// Change to your WiFi credentials
const char* SSID        = "";
const char* PASSWORD    = "";

String TODAY_URL = "";

// Choose your time zone from: https://github.com/nayarsystems/posix_tz_db/blob/master/zones.csv
const char* TIMEZONE    = "CST6CDT,M3.2.0,M11.1.0";
// Or, choose a time server close to you, but in most cases it's best to use pool.ntp.org to find an NTP server
const char* NTP_SERVER  = "pool.ntp.org";

 // UK normal time is GMT, so GMT Offset is 0, for US (-5Hrs) is typically -18000, AU is typically (+8hrs) 28800
 int   GMT_OFFSET_SEC       = -18000;
 // 1 hours (3600 seconds)
 int  DAYLIGHT_OFFSET_SEC   = 3600;
