// how long between updates in minutes
long SLEEP_DURATION = 30;
// wakeup time (hours: ex. 5 = 5:00am)
int  WAKEUP_TIME    = 5;
// long sleep, don't update over night (hours: ex. 21 = 21:00 or 9:00pm)
int  SLEEP_TIME     = 21;

// screen resolution
int DISPLAY_HEIGHT  = 540;
int DISPLAY_WIDTH   = 960;

// Change to your WiFi credentials
const char* SSID        = "";
const char* PASSWORD    = "";

String TODAY_URL = "";

// Choose your time zone from: https://github.com/nayarsystems/posix_tz_db/blob/master/zones.csv
const char* TIMEZONE    = "";
// Or choose a time server close to you
const char* NTP_SERVER  = "";

// US (-5Hrs) is typically -18000
int   GMT_OFFSET_SEC       = 0;
// 1 hours (3600 seconds)
int  DAYLIGHT_OFFSET_SEC   = 3600;
